<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/main-styles.css" />
    <script src="http://localhost:5000/js/jquery-1.6.4.min.js"></script>
    <script src="http://localhost:5000/js/jquery-ui-1.8.10.custom.min.js"></script>
  </head>
  <nav>
      <ul id="nav_links">
        <li><a href="/dataview">EEG Data View</a></li>
        <li><a href="/home2">3D Model</a></li>
        <li><a href="/patients">Patient Search</a></li>
      </ul>
    </nav>
  <body>
    {{{body}}}
  </body>
<a id="return_Home" href="/home">Return Home</a>
</html>