<main>
    <h1>{{title}}</h1>
    <h2>{{name}}</h2>
		<a href="/wireframe">Click here to view model!</a>
    <h3>Search Patients</h3>
    <form id="patientSearchForm">
      <label for="birthdate">Birthdate</label>
      <input type="date" id="birthdate" name="birthdate">
      <input type="submit">
    </form>
		<ul id="results">

    </ul>
</main>