<main>
    <h1>{{title}}</h1>
    <h2>{{name}}</h2>
		<a href="/wireframe">Click here to view model!</a>
    <h3>Search Patients</h3>
    <form id="patientSearchForm">
      <label for="birthdate">Birthdate</label>
      <input type="date" id="birthdate" name="birthdate">
      <input type="submit">
    </form>
		<ul id="results">

    </ul>
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
    <script src="/public/clientJS.js"></script>
</main>