
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../public/wireframe.css">
</head>

<main>
  <h1>Presurgical Epilepsy Evaluation</h1>
	<a href="https://brainbrowser.cbrain.mcgill.ca/surface-viewer#ct" target="_blank" > {{!-- Doesnt work --}}
		<img
			loading="lazy"
			srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/c98c12ebfcb50dacc7aed78141c7193c0347f99ff721f2d437030dc868d06c3a?apiKey=0bfd1ce19fd24219afeed2675179684b&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/c98c12ebfcb50dacc7aed78141c7193c0347f99ff721f2d437030dc868d06c3a?apiKey=0bfd1ce19fd24219afeed2675179684b&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/c98c12ebfcb50dacc7aed78141c7193c0347f99ff721f2d437030dc868d06c3a?apiKey=0bfd1ce19fd24219afeed2675179684b&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/c98c12ebfcb50dacc7aed78141c7193c0347f99ff721f2d437030dc868d06c3a?apiKey=0bfd1ce19fd24219afeed2675179684b&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/c98c12ebfcb50dacc7aed78141c7193c0347f99ff721f2d437030dc868d06c3a?apiKey=0bfd1ce19fd24219afeed2675179684b&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/c98c12ebfcb50dacc7aed78141c7193c0347f99ff721f2d437030dc868d06c3a?apiKey=0bfd1ce19fd24219afeed2675179684b&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/c98c12ebfcb50dacc7aed78141c7193c0347f99ff721f2d437030dc868d06c3a?apiKey=0bfd1ce19fd24219afeed2675179684b&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/c98c12ebfcb50dacc7aed78141c7193c0347f99ff721f2d437030dc868d06c3a?apiKey=0bfd1ce19fd24219afeed2675179684b&"
			class="img-2"
		>
	</a>
  {{!-- <div class="div-10" href = "https://brainbrowser.cbrain.mcgill.ca/surface-viewer#ct">BrainBrowser Surface Viewer</div> --}}
  <p class="div-10">Visit <a href="https://brainbrowser.cbrain.mcgill.ca/surface-viewer#ct" target="_blank">Brain Bowser</a></p>
  </div>
</main>




 {{!-- <div class="div">
  <div class="div-2">
    <div class="div-3">Presurgical Epilepsy Evaluation</div>
    <div class="div-4">
      <div class="div-5">EEG Data View</div>
      <div class="div-6">3D Model</div>
      <div class="div-7">Patient Search</div>
      <div class="div-8">
        <img
          loading="lazy"
          srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/5938ad80615e1b535ad478ea7ee2797b61503ef61261ce7e41fcfd1b1dbe0d90?apiKey=0bfd1ce19fd24219afeed2675179684b&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/5938ad80615e1b535ad478ea7ee2797b61503ef61261ce7e41fcfd1b1dbe0d90?apiKey=0bfd1ce19fd24219afeed2675179684b&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/5938ad80615e1b535ad478ea7ee2797b61503ef61261ce7e41fcfd1b1dbe0d90?apiKey=0bfd1ce19fd24219afeed2675179684b&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/5938ad80615e1b535ad478ea7ee2797b61503ef61261ce7e41fcfd1b1dbe0d90?apiKey=0bfd1ce19fd24219afeed2675179684b&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/5938ad80615e1b535ad478ea7ee2797b61503ef61261ce7e41fcfd1b1dbe0d90?apiKey=0bfd1ce19fd24219afeed2675179684b&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/5938ad80615e1b535ad478ea7ee2797b61503ef61261ce7e41fcfd1b1dbe0d90?apiKey=0bfd1ce19fd24219afeed2675179684b&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/5938ad80615e1b535ad478ea7ee2797b61503ef61261ce7e41fcfd1b1dbe0d90?apiKey=0bfd1ce19fd24219afeed2675179684b&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/5938ad80615e1b535ad478ea7ee2797b61503ef61261ce7e41fcfd1b1dbe0d90?apiKey=0bfd1ce19fd24219afeed2675179684b&"
          class="img"
        />
        <div class="div-9"></div>
      </div>
    </div>
  </div>
  <img
    loading="lazy"
    srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/c98c12ebfcb50dacc7aed78141c7193c0347f99ff721f2d437030dc868d06c3a?apiKey=0bfd1ce19fd24219afeed2675179684b&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/c98c12ebfcb50dacc7aed78141c7193c0347f99ff721f2d437030dc868d06c3a?apiKey=0bfd1ce19fd24219afeed2675179684b&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/c98c12ebfcb50dacc7aed78141c7193c0347f99ff721f2d437030dc868d06c3a?apiKey=0bfd1ce19fd24219afeed2675179684b&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/c98c12ebfcb50dacc7aed78141c7193c0347f99ff721f2d437030dc868d06c3a?apiKey=0bfd1ce19fd24219afeed2675179684b&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/c98c12ebfcb50dacc7aed78141c7193c0347f99ff721f2d437030dc868d06c3a?apiKey=0bfd1ce19fd24219afeed2675179684b&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/c98c12ebfcb50dacc7aed78141c7193c0347f99ff721f2d437030dc868d06c3a?apiKey=0bfd1ce19fd24219afeed2675179684b&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/c98c12ebfcb50dacc7aed78141c7193c0347f99ff721f2d437030dc868d06c3a?apiKey=0bfd1ce19fd24219afeed2675179684b&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/c98c12ebfcb50dacc7aed78141c7193c0347f99ff721f2d437030dc868d06c3a?apiKey=0bfd1ce19fd24219afeed2675179684b&"
    class="img-2"
  />
  <div class="div-10">BrainBrowser Surface Viewer</div>
</div> --}}
