.div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
  }
  .div-2 {
    align-self: stretch;
    display: flex;
    width: 100%;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-2 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .div-3 {
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    letter-spacing: -0.88px;
    margin-top: 15px;
    flex-grow: 1;
    flex-basis: auto;
    font: 500 40px/150% Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-3 {
      max-width: 100%;
    }
  }
  .div-4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-4 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .div-5 {
    color: #333;
    letter-spacing: -0.46px;
    align-self: stretch;
    flex-grow: 1;
    white-space: nowrap;
    margin: auto 0;
    font: 500 24px/133% Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-5 {
      white-space: initial;
    }
  }
  .div-6 {
    color: #0d99ff;
    letter-spacing: -0.46px;
    align-self: stretch;
    flex-grow: 1;
    flex-basis: auto;
    margin: auto 0;
    font: 700 24px/133% Inter, sans-serif;
  }
  .div-7 {
    color: #333;
    letter-spacing: -0.46px;
    align-self: stretch;
    flex-grow: 1;
    flex-basis: auto;
    margin: auto 0;
    font: 500 24px/133% Inter, sans-serif;
  }
  .div-8 {
    display: flex;
    flex-direction: column;
    border: 16px solid #000;
    overflow: hidden;
    align-self: stretch;
    position: relative;
    display: flex;
    aspect-ratio: 1;
    width: 48px;
    justify-content: center;
    align-items: center;
    height: 48px;
  }
  .img {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .div-9 {
    position: relative;
    background-color: rgba(255, 255, 255, 1);
    height: 48px;
  }
	.img-2 {
		aspect-ratio: 1.27; /* Adjust if you need a specific aspect ratio, or remove it for full screen */
		object-fit:contain; /* Cover the screen without losing aspect ratio */
		object-position: center; /* Center the image within its container */
		width: 90vw; /* 100% of the viewport width */
		height: 90vh; /* 100% of the viewport height */
		/*margin-top: 0; /* Reset margin top, if not needed for this context */
		position:relative; /* Position it absolutely to ensure it can fill the screen */
		top: 0; /* Align top to the top of the viewport */
		left: 0; /* Align left to the left of the viewport */
		z-index: -1; /* Optional: send it to the back if you have other content you want to overlay */
	}
  @media (max-width: 991px) {
    .img-2 {
      margin-top: 40px;
    }
  }
  .div-10 {
    color: #101010;
    letter-spacing: -0.46px;
    margin: 31px 0 0 198px;
    font: 800 24px/133% Inter, sans-serif;
  }